# Mac OS
**/.DS_Store

# Other artifacts
.github
.vscode
build*
output*
!scripts/build*

# Python artifacts
.venv
__pycache__
**/__pycache__

# Heavy / temporary data files
!data/.gitkeep
data/rules.txt
data/brown.txt
data/eng_sentences.tsv
data/common_english_words.csv
data/missing.txt
data/missing_to_fill.txt

# Test executables
test/**
!test/*.cpp

# Local test/playground files
scripts/phonemization_playground.py
scripts/test_dynamic_algo.py