# Mac OS
**/.DS_Store

# Other artifacts
.github
.vscode
build*
output*
!scripts/build*

# Python artifacts
.venv
__pycache__
**/__pycache__

# Heavy data files
!data/.gitkeep
eng_sentences.tsv

# Test executables
test/**
!test/*.cpp